
<div *ngIf="country$ | async; let country"  class="country">
    <button ><span class="fa fa-arrow-left"></span>back</button>
    <div class="card-item">
        <img [src]="country.flag" class="card-image">
        <div class="card-content">
            <h1 ><b>{{country.name}}</b></h1>
            <p> <strong> capital:</strong>  {{country.capital}}</p>
            <p><strong>continent: </strong>{{country.region}}</p>
            <p><strong>population</strong> {{country.population}}</p>
            <p><strong>currency</strong> {{country.currencies}}</p>
            <p><strong>language</strong> {{country.languages}}</p>
        </div>

    </div>
</div>


