/* You can add global styles to this file, and also import other style files */
/* -Dark Blue (Dark Mode Elements): hsl(209,23%,22%)
-Very Dark Blue (Dark Mode Background): hsl(207,26%,17%)
-Very Dark Blue (Light Mode Text): hsl(200,15%,8%)
-Dark grey (Light Mode Input): hsl(0,0%,52%)
-Very Light Gray (Light Mode Background): hsl(0,0%,98%)
-white (Dark Mode Text & Light Mode Elements): hsl(0,0%,100%) */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
/* .light-theme{
    --text-color: hsl(200,15%,8%);
    --input-color: hsl(0,0%,52%);
    --bg-color: hsl(0,0%,98%);
    --elements-color: hsl(0,0%,100%);
} */

body{
    --text-color: hsl(0,0%,100%);
    --input-color: hsl(0,0%,52%);
    --bg-color: hsl(207,26%,17%);
    --elements-color: hsl(209,23%,22%);
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.title{
    font-weight: 800;
    color:black;
    font-size: 1.2rem;
}

.label{
    font-weight: 600;
}
