.card-item{
    height: 100%;
    max-width: 350px;
    background-color: var(--elements-color);
    background-color: rgb(223, 117, 75);
    border-radius: 0.5rem;
    .card-image{
        border-top-left-radius: calc(0.5rem - 2px);
        border-top-right-radius: calc(0.5rem - 2px);
      width: 100%;
      height: 150px;
      object-fit: cover;  
    }
    .card-content{
        padding: 1rem;
    }
}